# Frontend
frontend/node_modules
frontend/dist
frontend/.env

# Backend  
backend/node_modules
backend/dist
backend/.env
backend/logs
ecosystem.config.cjs
ecosystem.config.js

node_modules

# General
.DS_Store
*.log
.env